    body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: left;
      font-size: 15px;
    }
    
    div#intro {
      /*border-bottom: 1px solid black;*/
      width: 785px;
      margin: 0 auto 50px;
      padding: 0;
      font-weight: 300;
      position: relative;
    }
    
    .btn {  
      float: right;
      text-transform: uppercase;
      font-size: 10px;
      width: 86px;
      text-align: center;
      border: 1px solid black;
      border-radius: 3px;
      padding: 8px 0 8px 0;
      margin: 0 10px 0 10px;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: black;
      color: white;
    }
    
    ol#footer {
      font-size: 10px;
      position: absolute;
      bottom: 10px;
    }
    
    h1#title {
      text-align: left;
      font-size: 42px;
      font-weight: 100;
      margin-bottom: 0;
      line-height: 42px;
    }
    
    div p#explainer {
      width: 62%;
      margin-top: 35px;
      line-height: 145%;
    }
    
    p#explainer a {
      text-decoration: underline;
      color: black;
    }
    
    p#explainer a:hover {
      color: gray;
    }
    
    h1.chart {
      text-align: left;
      font-size: 12px;
      font-weight: 300;
      display: block;
      /*opacity: 0;*/
      /*border-top: 1px solid gray;*/
      /*padding: 5px 0 0 0;*/
      width: 785px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    div.chart {
      padding: 5px 0 5px 0;
      height: 10px;
      /*border-bottom: 1px solid gray;*/
      /*overflow: hidden;*/
      width: 800px;
      margin: 0 auto;
      display: block;
      position: relative;
      left: 7px;
      cursor: pointer;
    }
    
    svg {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      z-index: 100;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    
    /* AXES */
    .axis {
      opacity: 0;
    }
    
    .x.axis path.domain {
      display: none;
    }
    
    .axis text {
      font-family: 'Roboto', sans-serif;
      font-size: 8px;
    }
    
    /* PTS DATA */
    rect.ptsAvg {
      fill: #ffe41f;
      opacity: 1;
    }
    
    /* PITF TEASER INFO */
    text.pitf {
      font-size: 8px;
      opacity: 0;
    }
    
    /* READ MORE BUTTON */
    .read {
      text-decoration: underline;
      cursor: pointer;
    }
    
    /* X / CLOSE BUTTON */
    .close {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 10px;
      right: 15px;
      
    }
    
    div.modal.back {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .8;
      position: fixed;
      z-index: 500;
      top: 0px;
    }
    
    div.modal.front {
      width: 33%;
      height: auto;
      padding: 30px;
      background-color: white;
      position: fixed;
      top: 10%;
      left: 33%;
      font-size: 14px;
      z-index: 510;
      margin: auto 0;
    }
    
    /* Country */
    div.modal h1 {
      text-align: left;
      font-size: 32px;
      font-weight: 100;
      opacity: 1;
      border-bottom: 1px solid black;
      padding: 0 0 10px 0;
      margin: 0;
      position: relative;
    }
    
    /* Date */
    div.modal span {
      font-size: 10px;
      font-weight: 300;
    }
    
    div.modal p {
        font-size: 12px;
        font-weight: 300;
        line-height: 150%;
        padding: 8px 0 8px 0;
    }
    
    div.modal .sources {
        border-top: 1px solid black;
        margin-top: 5px;
        font-size: 10px;
    }
    
    div.modal a {
        color: black;
    }
    
    div.modal a:hover {
        color: gray;
    }
    
    .open {
      margin-bottom: 15px;
    }
    
    #groupAxis {
      margin: 30px 0 0 0;
      width: 785px;
    }
    
    img.key {
      display: inline;
      padding: 3px;
    }
    
    #ptsKey {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 200px;
    }
    
    .povo {
      display: none;
    }
    
    .revo {
      display: none;
    }